<link rel="stylesheet" href="https://active-vision.ru/wa-data/public/blog/download/owl.carousel.min.css">
<style>
.owl-prev, .owl-next {
position:absolute;
}
.owl-prev {
left:0;
top: 0;
bottom: 0;
margin: auto 0;
}
.owl-next {
right:0;
top: 0;
bottom: 0;
margin: auto 0;
}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://active-vision.ru/wa-data/public/blog/download/owl.carousel.min.js"></script>
<script>
	$(document).ready(function(){
		const slider = $("#slider").owlCarousel({
			loop:true,
			margin:10,
			nav:true,
			responsive:{
				0:{
					items:1
				},          
				1000:{
					items:3
				}
			},
			navText: [
					  '<svg width="35" height="35" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>',
					  '<svg width="35" height="35" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>'
					]			
		});
	});
</script>
<div class="owl-carousel" id="slider">
    <!--Слайд 1-->
    <div class="slide">
	    <img src = 'https://pariksamara.ru/upload/iblock/def/bldhs571d8n7zah1ubxoiejufq3ulyc6.png'>
        <h2 class="slide__title">Товар</h2>
        <a href="#" class="slide__price">50 ₽</a>
    </div>  
    <div class="slide">
	    <img src = 'https://pariksamara.ru/upload/iblock/def/bldhs571d8n7zah1ubxoiejufq3ulyc6.png'>
        <h2 class="slide__title">Товар</h2>
        <a href="#" class="slide__price">50 ₽</a>
    </div> 
	<div class="slide">
	    <img src = 'https://pariksamara.ru/upload/iblock/def/bldhs571d8n7zah1ubxoiejufq3ulyc6.png'>
        <h2 class="slide__title">Товар</h2>
        <a href="#" class="slide__price">50 ₽</a>
    </div> 
	<div class="slide">
	    <img src = 'https://pariksamara.ru/upload/iblock/def/bldhs571d8n7zah1ubxoiejufq3ulyc6.png'>
        <h2 class="slide__title">Товар</h2>
        <a href="#" class="slide__price">50 ₽</a>
    </div> 	
</div>
